{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
<h1 class="">Notifications</h1>
Unseen
<br/>
{% for i in new_notifications %}
{{ i.from_user }} {{ i.message|safe }}<a href="/transaction/{{ i.href|safe }}/">link to he notificai</a><br/>
{% endfor %}
Seen
<br/>
{% for i in all_notifications %}
{{ i.from_user }} {{ i.message|safe }}<a href="/transaction/{{ i.href|safe }}/">link to he notificai</a><br/>
{% endfor %}
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
