{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
<h1 class="">Notifications</h1>
        <table class="table table-hover table-condensed span7">
            <thead>
                <tr>
                    <th>Unseen</th>
                </tr>
            </thead>
            <tbody>
                {% for i in new_notifications %}
                <tr>
                    <td>
                        <a href="/transaction/{{ i.href|safe }}/">
                            <div>
                                {{ i.from_user }} {{ i.message|safe }}
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <thead>
                <tr>
                    <th>Seen</th>
                </tr>
            </thead>
            <tbody>
                {% for i in all_notifications %}
                <tr>
                    <td>
                        <a href="/transaction/{{ i.href|safe }}/">
                            <div >
                                {{ i.from_user }} {{ i.message|safe }}
                            </div>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
