{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
    <h1 class="">Notifications</h1>
    <span>Unseen</span>
    {% for i in new_notifications %}
    <div>
            <a href="/transaction/{{ i.href|safe }}/">
                <div>
                    {{ i.from_user }} {{ i.message|safe }}
                </div>
            </a>
    </div>
    {% endfor %}

    <span class="brandico-facebook"></span>

    <div class="">
        <span>seen</span>
        {% for i in all_notifications %}
        <div>
            <a href="/transaction/{{ i.href|safe }}/">
                <div >
                    {{ i.message|safe }}
                    {{ i.from_user }}
                    <div class="">{{ i.get_time }}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
