<!DOCTYPE html>
<html lang="en">
    <head> 
		{% include "baseStyles.html" %}
	<!-- title Block -->
		<title>
			{% block title %}
			Title
			{% endblock %}
		</title> 
	</head>
	<body>
		<div class="container-fluid">
			<div id="header" class="row-fluid">
			{% block header %}
			Header
			{% endblock %}
			</div>
			<div id="body" class="row-fluid">
			{% block body %}
			Body
			{% endblock %}
			</div>
		</div>
		<div id="footer" class="">
		{% block footer %}
		<div class="footer"> 
			<div class="container"> 
				<p class="pull-right"><a href="#">Back to top</a></p> 
				<p>Designed and Tested with all the love in the world by <a href="" target="_blank">daddy,dash,gman,lallu,muru,ropo and shakku</a> 
				<ul class="footer-links"> 
					<li><a href="">Blog</a></li> 
					<li class="muted">&middot;</li> 
					<li><a href="">Issues</a></li> 
					<li class="muted">&middot;</li> 
					<li><a href="">Roadmap and changelog</a></li> 
				</ul> 
			</div> 
		</div> 
		{% endblock %}
		</div>
        <!-- Le javascript
        ================================================== --> 
        <!-- Placed at the end of the document so the pages load faster --> 
        {% include "baseJavascript.html" %}
        {% block afterbody%}
        {% endblock %}
	</body>
</html>
        
