{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
<div class="span12 well">
{{ request.user.username }}
<a class="pull-right btn-primary btn-small" href="/logout/" >logout</a>
<br/><a class="" href="/passwordChange/" >ChangePassword</a>
<br/>
{{ user.username}}
<label>Personal
<a class="" href="/permission/personal_transactions/
	{% if perms.projectApp1.personal_transactions %}
	dissable
	{% else %}
	enable
	{% endif %}
	/">
	{% if perms.projectApp1.personal_transactions %}
	dissable
	{% else %}
	enable
	{% endif %}
</a></label>
<label>Group
<a class="" href="/permission/group_transactions/
	{% if perms.projectApp1.group_transactions %}
	dissable
	{% else %}
	enable
	{% endif %}
	/">
	{% if perms.projectApp1.group_transactions %}
	dissable
	{% else %}
	enable
	{% endif %}
</a></label>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
