{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
<div class="span12">
<a class="pull-right btn-primary btn-small" href="/logout/" >logout</a>
<br/>
{{ user.username}}
<div class="row-fluid">
	<a href="#myModal" class="" data-toggle="modal">Create New Group</a><br/>
	{% for i in members %}
		{{ i.group.name }} --
		{{ i.administrator }}
		<br/>
	{% endfor %}
</div>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">user created</h3>
	</div>
	<div class="modal-body">
		<div id="">
			<form class="form form-horizontal" action="/createGroup/" method="post">{% csrf_token %}   
				{{form.as_p}}
				<input class="btn" type="submit" name="Create" value="Create"/>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
</div>
{% endblock %}
