{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}



{% block header %}
<div class="offset4 span4">
	<h1 class="center">Split</h1>
</div>
{% endblock %}





{% block body %}
<div class="offset4 span4">
	{% if wrongUsernameOrPassword %}
	Worng Username or Password
	{% endif %}
	<form name="login" action="/login/" method="post">{% csrf_token %}  
		{{ form.email }}{{ form.email.errors }}
		{{ form.password }}
		<input class="btn" type="submit" name="Login" value="Login"/>
	</form>
	<a href="/passwordReset/">Forgot Password</a>
	<div class="row-fluid">
		<a href="#myModal" class="" data-toggle="modal">New user</a>
	</div>
</div>
{% endblock %}







{% block afterbody%}
<script type="text/javascript">
$(document).ready(function() {
	// Initialize 
	{% if newUserCreated %}
	$("#myModal1").modal();
	{% endif %}
	{% if form.email.errors %}
	$("#myModal2").modal();
	{% endif %}
	});
</script>
<!-- ============================================== -->
<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">user created</h3>
	</div>
	<div class="modal-body">
		<p>Login to Contiue</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Okay</button>
	</div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">user created</h3>
	</div>
	<div class="modal-body">
		<div id="createUserBlock">
			<form name="userCreate" action="/createUser/" method="post">{% csrf_token %}   
				{{ form.email }}{{ form.email.errors }}
				{{ form.password }}
				<input class="btn" type="submit" name="Register" value="Register"/>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
	</div>
</div>
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Invalid email</h3>
	</div>
	<div class="modal-body">
		{{ form.email.errors }}
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Okay</button>
	</div>
</div>
{% endblock %}

