
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
      	.center{
        text-align:center;
      	  }
        .right{
        text-align:right;
          }
    </style>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />

  </head>

  <body>

    <header>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="offset4 span4">
            <h1 class="center">Split</h1>
          </div>
        </div>
      </div>
    </header>
    
    <hr>
    
    <div class="container-fluid">
      <div class="row-fluid">
       <div class="offset4 span4">
         <form>
           <input class="input-block-level" type="text" name="Username" placeholder="Username"/>
           <input class="input-block-level" type="text" name="Username" placeholder="Password"/>
           <input class="btn" type="submit" name="Login" value="Login"/>
         </form>
         <a href="#">Forgot Password</a>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"></script>    

  </body>
</html>
