{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
<div class="offset4 span4">
    <form class="form-horizontal" ng-controller="TransactionsFormController">	
		{[{paid_user.username}]} Paid {[{amount}]} for <span ng-repeat="u in users_inv">{[{u}]},</span> 
		from {[{selectedFromCategory.name}]} for{[{description}]} to {[{selectedToCategory.name}]} on {[{date}]}
        <div class="control-group">
            <label class="control-label" for="inputEmail"></label>
            <div class="controls">
                <select ng-model="paid_user" ng-options="c.username for c in users_in_grp">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_paid_user" class="" name="paid_user" style="display: none" type="text" value={[{paid_user.id}]} >
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">paid</label>
            <div class="controls">
                <input ng-model="amount" name="amount" type="number" placeholder="Amount" id="id_amount">
            </div>
        </div>
        {% if perms.projectApp1.group_transactions %}
        <div class="control-group">
            <label class="control-label">
                {% if perms.projectApp1.group_transactions and perms.projectApp1.personal_transactions %}
                <input type="checkbox" ng-model="display_value" ng-true-value="inline" ng-false-value="none">
                {% endif %}
                Involving
            </label>
            <div class="controls">
                <table class="table table-condensed table-striped">
                    <tbody style="display:{[{display_value}]}">
                        <tr ng-repeat="usr in users_in_grp">
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" name="users_involved" value="{[{ usr.id}]}" ng-model="usr.checked" ng-click="updateUsersInvolved(usr)">{[{ usr.username}]} {[{amount/users_inv.length}]}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if perms.projectApp1.personal_transactions %}
        <div class="control-group">
            <label class="control-label" for="inputEmail">From Cayegory </label>
            <div class="controls">
                <select ng-model="selectedFromCategory" ng-options="c.name for c in category_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_from_category" class="" name="from_category" style="display: none" type="text" value={[{selectedFromCategory.id}]} >
                <a href="#">New Group</a><br/>
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="inputEmail">for</label>
            <div class="controls">
                <input name="description" ng-model="description" maxlength="705" placeholder="Description" type="text" class="" id="id_description" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">toCategory</label>
            <div class="controls">
                <select ng-model="selectedToCategory" ng-options="c.name for c in category_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_to_category" class="" name="to_category" style="display: none" type="text" value={[{selectedToCategory.id}]} >
                <a href="#">New Group</a><br/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">on</label>
            <div class="controls">
                <input id="id_date" type="date" placeholder="Datemm" class="" name="date" ng-model="date"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">

    function TransactionsFormController($scope) {
        $scope.users_in_grp={{ response_json.users_in_grp }};
        $scope.category_user={{ response_json.category_user }};
        {% if perms.projectApp1.group_transactions and perms.projectApp1.personal_transactions %}
        $scope.display_value="none";
        {% else %}
        $scope.display_value="inline";
        {% endif %}
        $scope.users_inv = new Array();
        $scope.updateUsersInvolved = function(usr){
            if (usr.checked){
                $scope.users_inv.push(usr.username);
            }else{
                $scope.users_inv.splice($scope.users_inv.indexOf(usr.username),1);	
            }
        };
    };
</script>
{% endblock %}
