        <div class="navbar  navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/home/"><img src="{{ STATIC_URL }}/img/text3761.gif" class="logo"></a>
                    <ul class="nav">
                        <li class="active"><a href="/allNotifications/">n{{request.session.no_of_notifications}}</a></li>
                        <li><a href="/allInvites/" name="invites_link">i{{request.session.no_of_invites}}</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li><a href="/home/">{{request.user}}</a></li>
                        <li><a href="/home/">Last login: {{request.user.last_login}}</a></li>
                        <li><a href="/logout/">Logout</a></li>
                        <li><a name="settings" href="/settings/"><i class="icon-cog icon-white"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
