{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
{% if validlink %}
<div class="offset4 span4 center">
<form action="" method="post"><div style=''>{% csrf_token %} 
	{{ form.as_p }}
<input type="submit" value="Reset my password" class="default" />
</form>
</div>
{% else %}
<h1>Password reset unsuccessful</h1>
The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
{% endif %}
{% endblock %}



{% block afterbody%}
{% endblock %}
