{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
<a class="" href="/passwordChange/" >ChangePassword</a>
<br/>
<label>Personal
<a class="" href="/permission/personal_transactions/
	{% if perms.TransactionApp.personal_transactions %}
	dissable{% else %}enable{% endif %}
	/">
	{% if perms.TransactionApp.personal_transactions %}
	dissable{% else %}enable{% endif %}
</a></label>
<label>Group
<a class="" href="/permission/group_transactions/
	{% if perms.TransactionApp.group_transactions %}
	dissable{% else %}enable{% endif %}
	/">
	{% if perms.TransactionApp.group_transactions %}
	dissable{% else %}enable{% endif %}
</a></label>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
