{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
    <a class="" href="/passwordChange/" >ChangePassword</a>
    <br/>
    <label>Personal
<a class="" name="personalTransactionPermission" href="/permission/personal_transactions/
{% if perms.TransactionApp.personal_transactions %}
dissable{% else %}enable{% endif %}
/">
{% if perms.TransactionApp.personal_transactions %}
dissable{% else %}enable{% endif %}
</a></label>
    <label>Group
<a class="" name="groupTransactionPermission" href="/permission/group_transactions/
{% if perms.TransactionApp.group_transactions %}
dissable{% else %}enable{% endif %}
/">
{% if perms.TransactionApp.group_transactions %}
dissable{% else %}enable{% endif %}
</a></label>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
