<!-- 
Requires 
{{page_no}}
{{txn_per_page}}
{{timeRange}}
{{start_time}} 	only in html
{{end_time}}	only in html
{{filter_user_id}}
and ng-app in <html> tag
-->
<script type="text/javascript">
function filterController($scope) {
	//initialise selectboxes
{% if perms.TransactionApp.group_transactions %}
    $scope.users_in_grp={{ response_json.users_in_grp }};
    $scope.toCategory_group={{ response_json.toCategory_group }};
{% endif %}
	$scope.timeRange="{{timeRange}}";
	$scope.listType = window.location.pathname;
	
	if($scope.timeRange=="3"){
		/*
		initialise these only if custom range is alredy selected 
		otherwise it will trigger the switch case"3"
		*/
		$scope.t_s="{{start_time|date:'Y-m-d'}}";
		$scope.t_e="{{end_time|date:'Y-m-d'}}";
	};
	
{% if paginator_obj %}<!--{{{-->
	//Initialise variables
	$scope.page_no={{page_no}};
	$scope.txn_per_page={{txn_per_page}};
	$scope.page_array = {{paginator_obj.page_range}};
{% endif %}<!--}}}-->

{% if filter_user_id %}
    for (var i = 0; i < $scope.users_in_grp.length; i++) {
        if ($scope.users_in_grp[i].id == {{filter_user_id}}){
            $scope.u = $scope.users_in_grp[i];
            break;
        }
    }
{% endif %}

{% if personal_transaction_list %}//<!--{{{-->
	$scope.category_list = {{ response_json.category }};
	//Construct object type insted of Array types as angularJS generates auto values for default arrays
    $scope.from_list = new Array();
    $scope.to_list = new Array();
	for (temp=0;temp<$scope.category_list.length;temp++)
	{ 
        if($scope.category_list[temp].type == {{ BANK }}){
            $scope.category_list[temp].type = "BANK"
            $scope.from_list.push($scope.category_list[temp]);
            $scope.to_list.splice(0,0,$scope.category_list[temp]);
        }
        else if($scope.category_list[temp].type == {{ EXPENSE }}){
            $scope.category_list[temp].type = "EXPENSE"
            $scope.to_list.push($scope.category_list[temp]);
        }
    }
{% if fc %}
    $scope.fc = {{fc}};
{% endif %}
{% if tc %}
    $scope.tc = {{tc}};
{% endif %}
{% endif %}<!--}}}-->
		
	$scope.frameGETquery = function() {
        $scope.queryString = $scope.listType;
        $scope.queryString = $scope.queryString.concat("?");
{% if filter_user_id %}
        $scope.queryString = $scope.queryString.concat("u=");
        $scope.queryString = $scope.queryString.concat($scope.u.id);
        $scope.queryString = $scope.queryString.concat("&");
{% endif %}
		/*
		start framing "tr=" queries
		*/
		switch($scope.timeRange){
			case "1":
				$scope.queryString = $scope.queryString.concat("tr=1");
				$scope.queryString = $scope.queryString.concat("&");
				break;
			case "2":
				$scope.queryString = $scope.queryString.concat("tr=2");
				$scope.queryString = $scope.queryString.concat("&");
				break;
			case "3":
				if(undefined == $scope.t_s && undefined == $scope.t_e){
					return;
				}
				else{
					break;
				}
			case "4":
				$scope.queryString = $scope.queryString.concat("tr=4");
				$scope.queryString = $scope.queryString.concat("&");
				break;
			default:
				break;
		};
		if($scope.timeRange=="3" && undefined != $scope.t_s && undefined != $scope.t_e){
			/*
			start framing "ts=" and "te=" queries
			*/
			$scope.tsExist = ((new Date($scope.t_s)).toString() != "Invalid Date");
			$scope.teExist = ((new Date($scope.t_e)).toString() != "Invalid Date");
			if(!$scope.tsExist && !$scope.teExist){
				alert("enter valid date");
				return;
			}
			//If both has vaid date check startDate<EndDate
			if($scope.tsExist && $scope.teExist){
				if((new Date($scope.t_s)) > (new Date($scope.t_e))){
					alert("start date is after the end date duffer");
					return;
				}
			}
			if($scope.tsExist){  
				$scope.queryString = $scope.queryString.concat("ts=");
				$scope.queryString = $scope.queryString.concat($scope.t_s);
				$scope.queryString = $scope.queryString.concat("&");
			}
			if($scope.teExist){  
				$scope.queryString = $scope.queryString.concat("te=");
				$scope.queryString = $scope.queryString.concat($scope.t_e);
				$scope.queryString = $scope.queryString.concat("&");
			}
		};
{% if paginator_obj %}
		/*
		start framing "page=" and "rpp=" queries
		*/
		//sent pageno
		$scope.queryString = $scope.queryString.concat("page=");
		$scope.queryString = $scope.queryString.concat($scope.page_no);
		$scope.queryString = $scope.queryString.concat("&");
		//sent rowperpage
		$scope.queryString = $scope.queryString.concat("rpp=");
		$scope.queryString = $scope.queryString.concat($scope.txn_per_page);
		$scope.queryString = $scope.queryString.concat("&");
{% endif %}

{% if response_json.category %}
		/*
		start framing "fc=" and "tc=" queries
		*/
        if (undefined != $scope.fc){
            $scope.queryString = $scope.queryString.concat("fc=");
            $scope.queryString = $scope.queryString.concat($scope.fc);
            $scope.queryString = $scope.queryString.concat("&");
        }
        if (undefined != $scope.tc){
            $scope.queryString = $scope.queryString.concat("tc=");
            $scope.queryString = $scope.queryString.concat($scope.tc);
            $scope.queryString = $scope.queryString.concat("&");
        }
{% endif %}
		window.location.href = $scope.queryString;
	};
};
</script>
