{% extends 'base.html' %}
{% load customfilters %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body%}
<div class="span2">
    {% include "navlist.html" %}
</div>
<div class="span10">
    <h1 class="">Transaction List</h1>
    {% include "timeFilter.html" %}
    <div class="pull-right">
        {% include "pageFilter.html" %}
    </div>
    <div class="pull-left">
        {% include "userFilter.html" %}
    </div>
    <div class="pull-left">
        {% include "listTypeFilter.html" %}
    </div>
    {% include "filterController.html" %}
    {%if transaction_list_for_sorting%}
        <div id="transactionList" class="row">
            <div id="transactionList" class="span10 offset1">
                {% for i in transaction_list_for_sorting%}
                <div id="transaction" ng-click="a{{i}} = !a{{i}}">
                    <div style="display:none">{{paginator_obj.count|subtract:current_page.start_index|subtract:forloop.counter0|add:1}}</div>
                    <div id="date">
                        <div id="month">
                        {{i.transaction_time|date:'M'}}
                        </div>
                        <div id="day">
                        {{i.transaction_time|date:'j'}}
                        </div>
                        <div id="time">
                        {{i.transaction_time|date:'H:i'}}
                        </div>
                    </div>
                    <div id="description">
                        {{i.description}}
                    </div>
                    <div id="paid">
                        <div id="person">{{i.paid_user}} paid
                        </div>
                        <div id="amount">{{i.amount}}
                        </div>
                    </div>
                    <div id="oweOrGetBack">
                    </div>
                    <div id="actions">
                        <a href="/deleteTransaction/?t={{i.pk}}">DEL</a>
                        <a href="/editTransactionForm/?t={{i.pk}}">EDIT</a>
                        {% if i.0.history %}
                                <a href="">HISTORY</a>
                        {% endif %}
                    </div>
                </div>
                <div id="transactionDetail" ng-show="a{{i}}">
                    <div id="text">
                        {%for usr in i.users_involved.all%}
                        {{usr}}<br/>
                        {%endfor%}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {%endif%}
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
