{% extends 'base.html' %}
{% load customfilters %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% endblock %}


{% block body%}
<div class="span2">
{% include "navlist.html" %}
</div>
{%if transaction_list_for_sorting%}
<div class="span10">
{% include "filterController.html" %}
{% include "pageFilter.html" %}
<table class="table table-hover table-condensed">
		<thead>
			<tr>
			  <th></th>
			  <th>name</th>
			  <th>Amount</th>
			  <th>Description</th>
			  <th>PaidFor</th>
			  <th>DatePaid</th>
			  <th>delete</th>
			  <th>edit</th>
			  <th>history</th>
			</tr>
		</thead>
{% for i in transaction_list_for_sorting%}
		<tbody>
			<tr>
              <td class="span1">{{paginator_obj.count|subtract:current_page.start_index|subtract:forloop.counter0|add:1}}</td>
              <td class="span1">{{i.paid_user}}</td>
			  <td class="span1">{{i.amount}}</td>
			  <td class="span1">{{i.description}}</td>
			  <td class="span1">{%for usr in i.users_involved.all%}
								{{usr}}<br/>
								{%endfor%}
								</td>
			  <td class="span2">{{i.transaction_time}}</td>
              <td class="span1"><a href="/deleteTransaction/?t={{i.pk}}">delete</a></td>
              <td class="span1"><a href="/editTransactionForm/?t={{i.pk}}">edit</a></td>
              <td class="span1">
{% if i.0.history %}
                  <a href="">history</a>
{% endif %}
              </td>
			</tr>
		</tbody>
{% endfor %}
</table>
</div>
{%endif%}

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
