{% extends 'base.html' %}
{% load customfilters %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body%}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span8" >
<h1 class="">Paid List</h1>
{% include "timeFilter.html" %}
<div class="pull-right">
    {% include "pageFilter.html" %}
</div>
{% include "listTypeFilter.html" %}
{% include "filterController.html" %}
{%if transaction_list_with_paid%}
<table class="table table-hover table-condensed">
		<thead>
			<tr>
			  <th></th>
			  <th>name</th>
			  <th>Amount</th>
			  <th>Description</th>
			  <th>PaidFor</th>
			  <th>DatePaid</th>
			  <th>PaidAmount</th>
			  <th>CumPaidAmount</th>
			  <th>delete</th>
			  <th>edit</th>
			</tr>
		</thead>
{% for i in transaction_list_with_paid%}
		<tbody>
            <tr>
                <td class="span1">{{paginator_obj.count|subtract:current_page.start_index|subtract:forloop.counter0|add:1}}</td>
                <td class="span1">{{i.0.paid_user}}</td>
                <td class="span1">{{i.0.amount}}</td>
                <td class="span1">{{i.0.description}}</td>
                <td class="span1">{%for usr in i.0.users_involved.all%}
                    {{usr}}<br/>
                    {%endfor%}
                </td>
                <td class="span2">{{i.0.transaction_time}}</td>
                <td class="span1">{{i.1|floatformat}}</td>
                <td class="span1">{{i.2|floatformat}}</td>
                <td class="span1"><a href="/deleteTransaction/?t={{i.0.pk}}">delete</a></td>
                <td class="span1"><a href="/editTransactionForm/?t={{i.0.pk}}">edit</a></td>
            </tr>
		</tbody>
{% endfor %}
</table>
</div>
{%endif%}

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
