{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% endblock %}


{% block body %}
<div class="offset1 span10">
{{request.user}}<br/>
<table class="table table-hover table-condensed">
	<thead>
		<tr>
		  <th>name</th>
		  <th>Amount in Pool</th>
		  <th>Expense</th>
		</tr>
	</thead>
	<tbody>
		<tr>
		  <td></td>
		  <td></td>
		  <td>
			{% include "filterController.html" %}
			{% include "timeFilter.html" %}
		  </td>
		</tr>
	{%for i in members1%}
		<tr>
			<td><a href="?u={{i.0.user.id}}">{{i.0.user}}</a></td>
			<td><a href="/group/outstandingList/?u={{i.0.user.id}}" rel="tooltip" data-placement="right" data-original-title="How did this come?">{{i.0.amount_in_pool|floatformat}}</a></td>
			<td class=""><a href="/group/expenseList/?u={{i.0.user.id}}&ts={{start_time.isoformat}}&te={{end_time.isoformat}}"
			rel="tooltip" data-placement="right" data-original-title="How did this come?" >{{i.1|floatformat}}</a></td>
		</tr>
	{%endfor%}
	</tbody>
</table>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">
  $(document).ready(function () {
	$("a").tooltip({
	  'selector': '',
//	  'placement': 'bottom'
	});
  });
</script>
{% endblock %}
