{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% endblock %}


{% block body%}
{%if transaction_list_with_outstanding%}
<div class="offset1 span10" ng-controller="PaginatorController">
<div>
	pageno
	<select ng-model="page_no" ng-options="c for c in page_array" ng-change="getPage()">
		<option value="" selected="selected">---------</option>
	</select>
	txn_per_page
	<select ng-model="txn_per_page" ng-change="getPage()">
		<option value="" selected="selected">---------</option>
		<option value="5" selected="selected">5</option>
		<option value="10" selected="selected">10</option>
		<option value="50" selected="selected">50</option>
		<option value="100" selected="selected">100</option>
	</select>
</div>
<table class="table table-hover table-condensed">
		<thead>
			<tr>
			  <th></th>
			  <th>name</th>
			  <th>Amount</th>
			  <th>Description</th>
			  <th>PaidFor</th>
			  <th>DatePaid</th>
			  <th>Outstanding</th>
			  <th>CumOutstanding</th>
			</tr>
		</thead>
{% for i in transaction_list_with_outstanding %}
		<tbody>
			<tr>
			  <td class="span1">{{forloop.revcounter}}</td>
			  <td class="span1">{{i.0.paid_user}}</td>
			  <td class="span1">{{i.0.amount}}</td>
			  <td class="span1">{{i.0.description}}</td>
			  <td class="span1">{%for usr in i.0.users_involved.all%}
								{{usr}}<br/>
								{%endfor%}
								</td>
			  <td class="span2">{{i.0.transaction_time}}</td>
			  <td class="span1">{{i.1|floatformat}}</td>
			  <td class="span1">{{i.2|floatformat}}</td>
			</tr>
		</tbody>
{% endfor %}
</table>
</div>
{%endif%}

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">
    function PaginatorController($scope) {
		//Populate the select box for page_nos
		$scope.page_array = Array();
		for (temp=1;temp<={{no_of_pages}};temp++)
		{ 
			$scope.page_array.push(temp);
		}
		//initialise selectboxes
		$scope.page_no={{page_no}};
		$scope.txn_per_page={{txn_per_page}};
			
		$scope.getPage = function() {
			$scope.queryString = "?";
			//sent pageno
			$scope.queryString = $scope.queryString.concat("page=");
			$scope.queryString = $scope.queryString.concat($scope.page_no);
			$scope.queryString = $scope.queryString.concat("&");
			//sent rowperpage
			$scope.queryString = $scope.queryString.concat("rpp=");
			$scope.queryString = $scope.queryString.concat($scope.txn_per_page);
			$scope.queryString = $scope.queryString.concat("&");
			
			window.location.href = $scope.queryString;
		};
	};
</script>
{% endblock %}
