{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
    <h1 class="offset1">Settle</h1>
    <div class="span4">
        {%for i in members%}
        <div id="userRow" class="
            {%if i.amount_in_pool > 0 %}
            green
            {%else%}
            red
            {%endif%}
            ">
            <div id="userName">
                <a href="/home/?u={{i.user.id}}">{{i.user}}</a>
            </div>
            <div id="amount">
                <a href="/group/outstandingList/?u={{i.user.id}}&tr={{ALL_TIME}}" rel="tooltip" data-placement="right" 
                    data-original-title="How did this come?">{{i.amount_in_pool|floatformat}}</a>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">
  $(document).ready(function () {
	$("a").tooltip({
	  'selector': '',
//	  'placement': 'bottom'
	});
  });
</script>
{% endblock %}
