{% extends 'base.html' %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block title %}
{% endblock %}


{% block header %}
{% endblock %}


{% block body %}
<div class="offset4 span4">
	{% for i in request.session.memberships%}
		{% if request.session.active_group == i.group %}
		{{ i.group.name }}*
		{% else %}
		<a href="/changeGroup/{{ i.group.pk }}/?next={{request.path}}">{{ i.group.name }}</a>
		{% endif %}
	{% endfor %}
	<form action="/makeTransaction/" method="POST" class="form-horizontal" ng-controller="TransactionsFormController">{% csrf_token %}  
		{[{paid_user.username}]} Paid {[{amount}]} for <span ng-repeat="u in users_inv">{[{u}]},</span> 
		from {[{selectedFromCategory.name}]} for{[{description}]} to {[{selectedToCategory.name}]} on {[{date}]}
		<div class="center" ng-hide="involving_checkbox">
			You
		</div>
		<div class="control-group" ng-show="involving_checkbox">
            <label class="control-label" for="paid_user">User Paid</label>
            <div class="controls">
                <select ng-model="paid_user" ng-options="c.username for c in users_in_grp">
                    <option value="" selected="selected">---------</option>
                </select>
            </div>
        </div>
        <input id="id_paid_user" class="" name="paid_user" style="display: none" type="text" value={[{paid_user.id}]} >
        <div class="control-group">
            <label class="control-label" for="amount">paid</label>
            <div class="controls">
                <input ng-model="amount" name="amount" type="number" placeholder="Amount" id="id_amount">
            </div>
        </div>
        {% if perms.TransactionApp.group_transactions %}
        <div class="control-group">
            <label class="control-label">
                {% if perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
                <input type="checkbox" ng-model="involving_checkbox" ng-true-value="true" ng-false-value="false" ng-click="paid_user.id={{ request.user.id }}">
                {% endif %}
                Involving
            </label>
            <div class="controls">
                <table class="table table-condensed table-striped">
                    <tbody ng-show="involving_checkbox">
                        <tr ng-repeat="usr in users_in_grp">
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" name="users_involved" value="{[{ usr.id}]}" ng-model="usr.checked" ng-click="updateUsersInvolved(usr)">
                                    {[{ usr.username }]} {[{amount/users_inv.length}]}
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if perms.TransactionApp.personal_transactions %}
        <div class="control-group">
            <label class="control-label" for="from_category">From Cayegory </label>
            <div class="controls">
                <select ng-model="selectedFromCategory" ng-options="c.name for c in fromCategory_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_from_category" class="" name="from_category" style="display: none" type="text" value={[{selectedFromCategory.id}]} >
                <a ng-click="displaycreateCategory()">New Category</a><br/>
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="description">for</label>
            <div class="controls">
                <input name="description" ng-model="description" maxlength="705" placeholder="Description" type="text" class="" id="id_description" />
            </div>
        </div>
        <div class="control-group" ng-hide="involving_checkbox">
            <label class="control-label" for="to_category">toCategoryUser</label>
            <div class="controls">
                <select ng-model="selectedToCategory" ng-options="c.name for c in toCategory_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_to_category" class="" name="to_category" style="display: none" type="text" value={[{selectedToCategory.id}]} >
            </div>
        </div>
		{% if perms.TransactionApp.group_transactions %}
        <div class="control-group" ng-show="involving_checkbox">
            <label class="control-label" for="to_category">toCategoryGroup</label>
            <div class="controls">
                <select ng-model="selectedToCategory" ng-options="c.name for c in toCategory_group">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_to_category" class="" name="to_category" style="display: none" type="text" value={[{selectedToCategory.id}]} >
            </div>
        </div>
		{% endif %}
        <div class="control-group">
            <label class="control-label" for="date">on</label>
            <div class="controls">
                <input id="id_date" type="date" placeholder="Datemm" class="" name="date" ng-model="date"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
            </div>
        </div>
    </form>
</div>
<div class="well span4" ng-show="createUsrToggle" >
	<p><label for="id_name">Name:</label> <input id="id_name" type="text" name="name" ng-model="name" maxlength="256" /></p>
	<p><label for="id_category_type">Category type:</label> <select name="category_type" ng-model="category_type" id="id_category_type">
	<option value="" selected="selected">---------</option>
	<option value="0">income</option>
	<option value="1">expense</option>
	<option value="2">credit</option>
	</select></p>
	<p><label for="id_description">Description:</label> <input id="id_description" type="text" ng-model="cat_description" name="description"  maxlength="564" /></p>
	<p><label for="id_privacy">Privacy:</label> <select name="privacy" ng-model="privacy" sentCategory id="id_privacy">
	<option value="" selected="selected">---------</option>
	<option value="0">private</option>
	<option value="1">public</option>
	</select></p>
	<input class="btn" type="submit" name="CreateCaetgory" ng-click="createCategory()" value="Create Caetgory"/>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">

    function TransactionsFormController($scope) {
		$scope.createUsrToggle = false;
	{% if perms.TransactionApp.group_transactions %}
		$scope.users_in_grp={{ response_json.users_in_grp }};
		$scope.toCategory_group={{ response_json.toCategory_group }};
    {% endif %}
		$scope.fromCategory_user={{ response_json.fromCategory_user }};
        $scope.toCategory_user={{ response_json.toCategory_user }};
        {% if perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
        $scope.involving_checkbox="false";
        {% elif not perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
        $scope.involving_checkbox="false";
        {% else %}
        $scope.involving_checkbox="true";
        {% endif %}
        $scope.users_inv = new Array();
        $scope.updateUsersInvolved = function(usr){
            if (usr.checked){
                $scope.users_inv.push(usr.username);
            }else{
                $scope.users_inv.splice($scope.users_inv.indexOf(usr.username),1);	
            }
        };
        $scope.createCategory = function() {
			// Create the http post request
			// the data holds the keywords
			// The request is a JSON request.
			$.get(
				"/createCategory/0/",
				{
					"name":$scope.name,
					"category_type":$scope.category_type,
					"description":$scope.cat_description,
					"privacy":$scope.privacy,
				},
				function(data) {
					$scope.$apply(function() {
						delete data.category_type
						$scope.fromCategory_user.push(data);
						$scope.createUsrToggle = false;
						$scope.selectedFromCategory = data;
						$scope.selectedFromCategory = data;
					});
				}
			);
		};
		$scope.displaycreateCategory = function(){
			$scope.createUsrToggle = ($scope.createUsrToggle == true)?false:true;
		};
    };
</script>
<!-- ============================================== -->
{% endblock %}
