{% extends 'base.html' %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block title %}
{% endblock %}


{% block header %}
{% endblock %}	


{% block body %}
<div class="offset4 span8" ng-controller="TransactionsFormController">
	{% for i in request.session.memberships%}
		{% if request.session.active_group == i.group %}
		{{ i.group.name }}*
		{% else %}
		<a href="/changeGroup/{{ i.group.pk }}/?next={{request.path}}">{{ i.group.name }}</a>
		{% endif %}
	{% endfor %}
	<form action="/makeTransaction/" method="POST" class="form-horizontal span6">{% csrf_token %}  
		<span ng-hide="involving_checkbox">YOU</span><span ng-show="involving_checkbox">{[{paid_user.username}]}</span> Paid {[{amount}]} for <span ng-repeat="u in users_inv">{[{u}]},</span> 
		from {[{selectedFromCategory.name}]} for{[{description}]} to {[{selectedToCategory.name}]} on {[{date}]}
		<div class="control-group" ng-hide="involving_checkbox">
			<label class="control-label" for="paid_user">You</label>
            <div class="controls">
            </div>
        </div>
        <div class="control-group" ng-show="involving_checkbox">
            <label class="control-label" for="paid_user">User Paid</label>
            <div class="controls">
                <select ng-model="paid_user" ng-options="c.username for c in users_in_grp">
                    <option value="" selected="selected">---------</option>
                </select>
            </div>
        </div>
        <input id="id_paid_user" class="" name="paid_user" style="display: none" type="text" value={[{paid_user.id}]} >
        <div class="control-group">
            <label class="control-label" for="amount">paid</label>
            <div class="controls">
                <input ng-model="amount" name="amount" type="number" placeholder="Amount" id="id_amount">
            </div>
        </div>
        {% if perms.TransactionApp.group_transactions %}
        <div class="control-group">
            <label class="control-label">
                {% if perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
                <input type="checkbox" name="group_checkbox" ng-model="involving_checkbox" ng-true-value="true" ng-false-value="false" ng-click="payeeCheckboxClikced()">
                {% endif %}
                Involving
            </label>
            <div class="controls">
                <table class="table table-condensed table-striped">
                    <tbody ng-show="involving_checkbox">
                        <tr ng-repeat="usr in users_in_grp">
                            <td>
                                <label class="checkbox">
                                    <input type="checkbox" name="users_involved" value="{[{ usr.id}]}" ng-model="usr.checked" ng-click="updateUsersInvolved(usr)">
                                    {[{ usr.username }]} <span ng-show="usr.checked">{[{amount/users_inv.length}]}</span>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
        {% if perms.TransactionApp.personal_transactions %}
        <div class="control-group" ng-show="paid_user.id=={{request.user.id }}">
            <label class="control-label" for="from_category">From Cayegory </label>
            <div class="controls">
                <select ng-model="selectedFromCategory" ng-options="c.name for c in fromCategory_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_from_category" class="" name="from_category" style="display: none" type="text" value={[{selectedFromCategory.id}]} >
                <a href="#createCategoryModal" class="" data-toggle="modal" ng-click="displaycreateCategory('/createCategory/0/','NewFromCategory')">NewFromCategory</a><br/>
            </div>
        </div>
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="description">for</label>
            <div class="controls">
                <input name="description" ng-model="description" maxlength="705" placeholder="Description" type="text" class="" id="id_description" />
            </div>
        </div>
        <div class="control-group" ng-hide="involving_checkbox">
            <label class="control-label" for="to_category">toCategoryUser</label>
            <div class="controls">
                <select ng-model="selectedToCategory" ng-options="c.name for c in toCategory_user">
                    <option value="" selected="selected">---------</option>
                </select>
                <input id="id_to_category" class="" name="to_category" style="display: none" type="text" value={[{selectedToCategory.id}]} >
                <a href="#createCategoryModal" class="" data-toggle="modal" ng-click="displaycreateCategory('/createCategory/0/','NewToUserCategory')">NewToUserCategory</a><br/>
            </div>
        </div>
		{% if perms.TransactionApp.group_transactions %}
        <div class="control-group" ng-show="involving_checkbox">
            <label class="control-label" for="to_category">toCategoryGroup</label>
            <div class="controls">
                <select ng-model="selectedToCategory" ng-options="c.name for c in toCategory_group">
                    <option value="" selected="selected">---------</option>
                </select>
                <a href="#createCategoryModal" class="" data-toggle="modal" ng-click="displaycreateCategory('/createCategory/{{request.session.active_group.pk}}/','NewToGroupCategory')">NewToGroupCategory</a><br/>
            </div>
        </div>
		{% endif %}
        <div class="control-group">
            <label class="control-label" for="date">on</label>
            <div class="controls">
                <input id="id_date" type="date" placeholder="Datemm" class="" name="transaction_time" ng-model="date"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" type="submit" name="Submit" value="Submit"/>
            </div>
        </div>
    </form>
	<div id="createCategoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">user created</h3>
		</div>
        <div class="modal-body">
            <p><label for="id_name">Name:</label> <input id="id_name" type="text" name="name" ng-model="name" maxlength="256" /></p>
            <p>
            <label for="id_category_type">Category type:</label> 
            <select name="category_type" ng-model="category_type" id="id_category_type" ng-show="fromUserCategory">
                <option value="" selected="selected">---------</option>
                <option value="{{INCOME}}">income</option>
                <option value="{{BANK}}">bank</option>
                <option value="{{EXPENSE}}">expense</option>
                <option value="{{CREDIT}}">credit</option>
            </select>
            <select name="category_type" ng-model="category_type" id="id_category_type" ng-show="toUserCategory">
                <option value="" selected="selected">---------</option>
                <option value="{{BANK}}">bank</option>
                <option value="{{EXPENSE}}">expense</option>
                <option value="{{CREDIT}}">credit</option>
            </select>
            <select name="category_type" ng-model="category_type" id="id_category_type" ng-show="toGroupCategory">
                <option value="" selected="selected">---------</option>
                <option value="{{EXPENSE}}">expense</option>
            </select>
            </p>
            <p>
            <label for="id_description">Description:</label> 
            <input id="id_description" type="text" ng-model="cat_description" name="description"  maxlength="564" />
            </p>
            <p>
            <label for="id_privacy">Privacy:</label> 
            <select name="privacy" ng-model="privacy" sentCategory id="id_privacy">
                <option value="" selected="selected">---------</option>
                <option value="0">private</option>
                <option value="1">public</option>
            </select>
            </p>
            <input class="btn" type="submit" name="CreateCaetgory" data-dismiss="modal" aria-hidden="true" ng-click="createCategory()" value="Create Caetgory"/>
        </div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		</div>
	</div>
</div>

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">

    function TransactionsFormController($scope) {
//put the JSON's in Django variable to respective angular models
{% if perms.TransactionApp.group_transactions %}
		$scope.users_in_grp={{ response_json.users_in_grp }};
		$scope.toCategory_group={{ response_json.toCategory_group }};
{% endif %}
		$scope.fromCategory_user={{ response_json.fromCategory_user }};
        $scope.toCategory_user={{ response_json.toCategory_user }};
// Initialise the "checkbox" state and initialise the paid_user
{% if perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
        $scope.involving_checkbox="false";
        $scope.paid_user={"username": "{{ request.user.username }}", "id": {{ request.user.id }} };
{% elif not perms.TransactionApp.group_transactions and perms.TransactionApp.personal_transactions %}
        $scope.involving_checkbox="false";
        $scope.paid_user={"username": "{{ request.user.username }}", "id": {{ request.user.id }} };
{% else %}
        $scope.involving_checkbox="true";
{% endif %}
        //this array is used for displaying the Payees
        $scope.users_inv = new Array();
        $scope.updateUsersInvolved = function(usr){
			/*
			funtion is used to update the array for diplaying the current 
			Payees.
			This function is tirgged by checkbox check event for each payees
			*/
            if (usr.checked){
                $scope.users_inv.push(usr.username);
            }else{
                $scope.users_inv.splice($scope.users_inv.indexOf(usr.username),1);	
            }
        };
		$scope.createCategory = function() {
			/* 
			Function is called when createCategory button in bootstrap model is clicked,
			sents get request to URL to create group
			and fetches the JSON of group created 
			*/
			$.get(
				$scope.createCategoryURL,
				{
					"name":$scope.name,
					"category_type":$scope.category_type,
					"description":$scope.cat_description,
					"privacy":$scope.privacy,
				},
				function(data) {
					/*
					success callack funtion operates on "data"-> the response JSON
					Populated one or more of the three category select boxes with data
					$apply is required to update the html select box on updating ng-model
					*/
					$scope.$apply(function() {
						if ( data.category_type == {{INCOME}} )	
						{
							delete data.category_type;
							$scope.fromCategory_user.push(data);
							$scope.selectedFromCategory = data;
						}
															
						else if ( data.category_type == {{BANK}} || data.category_type == {{CREDIT}} )
						{
							delete data.category_type;
							$scope.fromCategory_user.push(data);
							$scope.toCategory_user.push(data);
							if ($scope.fromUserCategory == true)
							{
								$scope.selectedFromCategory = data;
							}
							else
							{
								$scope.selectedToCategory = data;
							}
						}
						else if ( data.category_type == {{EXPENSE}} )
						{
							delete data.category_type;
							if ($scope.toGroupCategory == true)
							{
								$scope.toCategory_group.push(data);
							}
							else
							{
								$scope.toCategory_user.push(data);
							}
							$scope.selectedToCategory = data;
						}
					});
				}
			);
		};
		/*
		this function is called when any new category link is clicked
		This will modify the bootstrap model displayed
		the bootstrp model has three select boxes to specify the ctegory type
		this funtion will set one of the select boxes as "true" i.e display it
		url -> is the url to which the get request is sent to create Category
		category is passed in url rather than GET because it saves the overhead of
		converting to int Django will parse it and provide 
		*/
		$scope.displaycreateCategory = function(url,toggle){
			$scope.createCategoryURL = url;
			if (toggle == 'NewFromCategory')
			{
				$scope.fromUserCategory = true; 
				$scope.toUserCategory = false;
				$scope.toGroupCategory = false;
			}
			else if (toggle == 'NewToUserCategory')
			{
				$scope.fromUserCategory = false; 
				$scope.toUserCategory = true;
				$scope.toGroupCategory = false;
			}
			else if (toggle == 'NewToGroupCategory')
			{
				$scope.fromUserCategory = false; 
				$scope.toUserCategory = false;
				$scope.toGroupCategory = true;
			}
		};
		$scope.payeeCheckboxClikced = function(){
			$scope.paid_user.id={{ request.user.id }};
		};
    };
</script>
<!-- ============================================== -->
{% endblock %}
