    <ul class="nav nav-list">
        <li><a href="/home/">home</a></li>
        <li><a name="makeTransactionLink" href="/transactionForm/">Make transaction Link</a></li>
{% if perms.TransactionApp.personal_transactions %}
        <li><a href="/personal/statistics/">personalStatistics</a></li>
{% endif %}
        <li><a href="/group/statistics/">groupStatistics</a></li>
        <li class="nav-header">Groups</li>
		{% for i in request.session.memberships %}
        <li 
        {% if request.session.active_group.id == i.group.id %}"
        class="active"
        {% endif %}
        >
			<a href="/group/{{ i.group.pk }}">{{ i.group.name }}</a>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle"
                data-toggle="dropdown"
                href="#">
                Dropdown<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a tabindex="-1" href="#">Action</a></li>
                <li><a tabindex="-1" href="#">Another action</a></li>
                <li><a tabindex="-1" href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="#">Separated link</a></li>
                <li class="dropdown-submenu">
                    <a tabindex="-1" href="#">More options</a>
                    <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Action</a></li>
                        <li><a tabindex="-1" href="#">Another action</a></li>
                        <li><a tabindex="-1" href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </li>
		{% endfor %}
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
