{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}

{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span4">
    <h1>Balances</h1>
    <table class="table table-hover table-condensed pull-right">
        <thead>
            <tr>
                <th>Categ</th>
                <th>Amount</th>
            </tr>
        </thead>
        {% for i in bank_category_outstanding_list%}
        <tbody>
            <tr>
                <td class="span2"><a href="/personal/transactionList/?atofc={{i.0.id}}">{{i.0}}</a></td>
                <td class="span1">{{i.1}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
<div class="span4">
{% include "filterController.html" %}
{% include "timeFilter.html" %}
<table class="table table-hover table-condensed">
		<thead>
			<tr>
			  <th>Categ</th>
			  <th>Amount</th>
			</tr>
		</thead>
{% for i in income_category_outstanding_list%}
		<tbody>
			<tr>
			  <td class="span2"><a href="/personal/transactionList/?atofc={{i.0.id}}">{{i.0}}</a></td>
			  <td class="span1">{{i.1}}</td>
			</tr>
		</tbody>
{% endfor %}
</table>
<table class="table table-hover table-condensed"><!--{{{-->
		<thead>
			<tr>
			  <th>Categ</th>
			  <th>Amount</th>
			</tr>
		</thead>
		<tbody>
{% for i in expense_category_outstanding_list%}
			<tr>
			  <td class="span2"><a href="/personal/transactionList/?atofc={{i.0.id}}">{{i.0}}</a></td>
			  <td class="span1">{{i.1}}</td>
			</tr>
{% endfor %}
			<tr>
			  <td class="span2">uncategorised Expense</td>
              <td class="span1">{{uncategorised_expense}}</td>
			</tr>
			<tr>
                <td class="span2">
                    Total
                </td>
                <td class="span1">
                    <a href="/personal/transactionList/?ts={{start_time|date:'Y-m-d'}}&te={{end_time|date:'Y-m-d'}}" 
                        rel="tooltip" data-placement="right" data-original-title="How did this come?">
                        {{total_personal_expense_except_group}}
                    </a>
                </td>
			</tr>
		</tbody>
		<thead>
			<tr>
			  <th>group</th>
			  <th>PaidAmount</th>
			</tr>
		</thead>
		<tbody>
{% for i in group_paid_amount_list%}
			<tr>
                <td class="span2"><a href="/changeGroup/{{ i.0.group.id }}/?next=/group/{{i.0.group.id}}">{{i.0.group}}</a></td>
			  <td class="span1">{{i.1}}</td>
			</tr>
{% endfor %}
			<tr>
			  <td class="span2">NetTotal</td>
              <td class="span1">{{personal_total}}</td>
			</tr>
		</tbody>
</table><!--}}}-->
</div>

{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
<script type="text/javascript">
  $(document).ready(function () {
	$("a").tooltip({
	  'selector': '',
//	  'placement': 'bottom'
	});
  });
</script>
{% endblock %}
