{% extends 'base.html' %}
{% load customfilters %}
{% block title %}
{% endblock %}

{% block ngAppName %} ng-app="YourAppName" {% endblock %}

{% block header %}
{% include "navbar.html" %}
{% endblock %}


{% block body %}
<div class="span2">
{% include "navlist.html" %}
</div>
<div class="span10">
{% include "filterController.html" %}
<h1 class="">Personal Transaction List</h1>
{% include "timeFilter.html" %}
<div class="pull-right">
        {% include "pageFilter.html" %}
    </div>
    {% include "categoryFilter.html" %}
<table class="table table-hover table-condensed">
		<thead>
			<tr>
			  <th></th>
			  <th>name</th>
			  <th>FromCateg</th>
			  <th>to</th>
			  <th>Description</th>
			  <th>DatePaid</th>
			  <th>Amount</th>
			</tr>
		</thead>
{% for i in personal_transaction_list%}
		<tbody>
			<tr>
			  <td class="span1">{{paginator_obj.count|subtract:current_page.start_index|subtract:forloop.counter0|add:1}}</td>
			  <td class="span1">{{i.paid_user}}</td>
			  <td class="span1">{{i.from_category}}</td>
			  <td class="span1">{{i.to_category}}</td>
			  <td class="span1">{{i.description}}</td>
			  <td class="span2">{{i.transaction_time}}</td>
			  <td class="span1">{{i.amount}}</td>
			</tr>
		</tbody>
{% endfor %}
</table>
</div>
{% endblock %}


{% block footer%}
{% endblock %}


{% block afterbody%}
{% endblock %}
	
