<!-- 
Requires 
{-% include "filterController.html" %-}
and ng-app in <html> tag
-->
<div ng-controller="filterController">
    <form action="" class="form-inline">
        <label>for</label>
        <select ng-model="timeRange" ng-change="frameGETquery()">
            <option value="" selected="selected">---------</option>
            <option value="{{TODAY}}">Today</option>
            <option value="{{THIS_MONTH}}">This Month</option>
            <option value="{{LAST_MONTH}}">Last Month</option>
            <option value="{{CUSTOM_RANGE}}">Custom timerange</option>
            <option value="{{ALL_TIME}}">from the begining of time</option>
        </select> :
        <input id="id_t_st" type="date" ng-model="t_s" class="" name="t_st" ng-change="timeChanged()" /> to
        <input id="id_t_et" type="date" ng-model="t_e" class="" name="t_et" ng-change="timeChanged()"/>
        <label><strong>{{start_time}}</strong> to <strong>{{end_time}}</strong></label>
    </form>
</div>
